<h2>Personal Contacts</h2>

<p-table [value]="contacts" stripedRows [tableStyle]="{ 'min-width': '50rem' }">
  <ng-template #header>
    <tr>
      <th>First Name</th>
      <th>Surname</th>
      <th>Country</th>
      <th>City</th>
    </tr>
  </ng-template>
  <ng-template #body let-contact>
    <tr>
      <td>
        <div class="flex flex-column gap-1">
          <span class="font-medium">{{ contact.firstName }}</span>
          <span class="text-sm text-surface-500 dark:text-surface-400">{{ contact.surname }}</span>        
        </div>
      </td>
      <td>
        <div class="flex items-center gap-2">          
          <span>{{ contact.country }}</span>
        </div>
      </td>
      <td>
        <div class="flex items-center gap-2">
          <span class="text-sm">{{ contact.city }}</span>
        </div>
      </td>
      <td>
        <span>{{ contact.primaryPhoneNumber }}</span>
      </td>
    </tr>
  </ng-template>
</p-table>
